---
title: pjandlou
---
<html>
<center>
{% include common/masthead.html %}

<head>
{% include common/carousel_head.html %}
</head>

<body background="images/common/background.jpg">
<h3>{% include 242b/address.html %}</h3>

<table width="80%">

<tr>
<td style="padding: 10px;">{% include 242b/unit.html %}
<tr>
<td style="padding: 10px;">{% include 242b/description.html %}
<tr>
<td style="padding: 10px;">{% include 242b/location.html %}
<tr>
<td style="padding: 10px;">{% include 242b/condo-services.html %}
<tr>
<td style="padding: 10px;">{% include 242b/condo-amenities.html %}
<tr>
<td style="padding: 10px;">{% include 242b/terms.html %}
<tr>
<td style="padding: 10px;">{% include 242b/documents.html %}

</table>

</body>

<footer>
  <br>
  <br>
  {% include common/copyright.html %}
</footer>
</center>
</html>