---
title: pjandlr
---
<html>
<center>
{% include common/masthead.html %}

<head>
{% include common/carousel_head.html %}
</head>

<body background="images/common/bkgnd_subtlecircs_green_demo.jpg">
<h3>{% include 3j/address.html %}</h3>

<table width="80%">

<tr>
<td style="padding: 10px;">{% include 3j/unit.html %}
<tr>
<td style="padding: 10px;">{% include 3j/description.html %}
<tr>
<td style="padding: 10px;">{% include 3j/location.html %}
<tr>
<td style="padding: 10px;">{% include 3j/condo-services.html %}
<tr>
<td style="padding: 10px;">{% include 3j/condo-amenities.html %}
<tr>
<td style="padding: 10px;">{% include 3j/terms.html %}
<tr>
<td style="padding: 10px;">{% include 3j/documents.html %}

</table>

</body>

<footer>
  <br>
  <br>
  {% include common/copyright.html %}
</footer>
</center>
</html>