---
title: pjandlr
---
<html>
<center>
{% include common/masthead.html %}

<head>
</head>

<body background="images/common/bkgnd_subtlecircs_green_demo.jpg">

<h3>{% include common/sitetype.html %}</h3>
<table>
<tr>
<td>
 <figure>
  <a href="3j.html" target="_property">
  <img style="border-color: #00ff00;" src="images/3j/regency-building.jpg" width="500" height="400" border="5" />
  </a>
  <figcaption>
  <table>
  <tr>
  <td>Address: 
  <td><table>
      <tr>
      <td><a href="3j.html" target="_property">{% include 3j/address.html %}</a>
      <td><a href="3j.html" target="_property"><img src="images/common/links-icon-8.png"/></a>
      </table>
  <tr>
  <td>Status: 
  <td>{% include 3j/status.html %}
  </table>
  </figcaption>
</figure> 
<td>
 <figure>
  <a href="242b.html" target="_property">
  <img style="border-color: #00ff00;" src="images/242b/0000-back.jpg" width="500" height="400" border="5" />
  </a>
  <figcaption>
  <table>
  <tr>
  <td>Address: 
  <td><table>
      <tr>
      <td><a href="242b.html" target="_property">{% include 242b/address.html %}</a>
      <td><a href="242b.html" target="_property"><img src="images/common/links-icon-8.png"/></a>
      </table>
  <tr>
  <td>Status: 
  <td>{% include 242b/status.html %}
  </table>
  </figcaption>
</figure> 
</table>
</body>  

<footer>
  <br>
  <br>
  {% include common/copyright.html %}
</footer>

</center>
</html>
