<script type="text/javascript" src="opensource/jquery-3.3.1.slim.min.js"></script>
<link rel="stylesheet" type="text/css" href="opensource/bootstrap.min.css">
<script type="text/javascript" src="opensource/popper.min.js"></script>
<script type="text/javascript" src="opensource/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="opensource/font-awesome.min.css">
<style id="compiled-css" type="text/css">
#carouselExampleControls {
  height: 350px;
  text-align: center;
  background: gray;
}
.img-fluid {
  max-height: 350px;
}
</style>