<h4>
<i>description</i>
</h4>

<p>Great location.  Very nice large 1 bedroom unit.</p>
<p>
Across the street from Mamaroneck Avenue Elementary School.
Easy walking distance to CVS, Dunne's Pub, Francesco's Restaurant, Chase-Manhattan Bank and more.
A 3/4 mile walk to White Plains Hospital.
A 1+1/2 mile walk to train station.  
</p>

<ul>
<li>966 sq. ft.</li>
<li>1 bedroom</li>
  <ul>
  <li>large walk-in closet</li> 
  <li>easily fits queen size bed</li>
  </ul>
<li>1 bath</li>
  <ul>
  <li>bath/shower and toilet behind closed door</li> 
  <li>sink area</li>
  <li>storage closet</li>
  </ul>
<li>entry hall with closet</li>
<li>kitchen</li>
  <ul>
  <li>dishwasher</li>
  <li>refrigerator</li>
  <li>stove/oven</li> 
  <li>sink</li> 
  <li>plenty of cabinets</li>
  </ul>
<li>dining area</li>
<li>large living room</li>
<li>garage parking</li>
  <ul>
  <li>room for one car</li>
  <li>unheated open storage space</li>
  <li>additional uncovered parking spaces</li>
  </ul>
</ul>