<h4>
<i>documents</i>
</h4>
<ul>
 <li>Rental Application: 
   <a href="docs/common/Application.pdf" target="_documents">form</a>
 </li>
 <li>Fixed Term Residential Lease:
   <a href="docs/common/Lease.pdf" target="_documents">form</a>
 </li>
 <li>Regency sales-lease application: 
   <a href="docs/3j/regency sales-lease application.pdf" target="_documents">form</a>
 </li>
  <li>Regency dogs policy and registration: 
   <a href="docs/3j/regency dogs.pdf" target="_documents">form</a>
 </li>
 <li>Contact Info: 
   <a href="docs/common/ContactInfo.pdf" target="_documents">info</a>
 </li>
</ul>