<h4>
<i>terms</i>
</h4>
<p>
One year lease. 
Tenant pays rent + utilities (phone,electric,cable).  
Landlord pays water, sewer and maintenance.  
No smoking. 
Pets considered.
<br>
<br>
<small>
<table style="font-size: 12px;" border="1">
<tr>
<th style="padding: 5px;" align="left">Description
<th style="padding: 5px;" align="left">Pay to
<th style="padding: 5px;" align="left">Pay by
<th style="padding: 5px;" align="left">Fee
<tr>
<td style="padding: 5px;">Application Fee
<td style="padding: 5px;">Gramatan Management
<td style="padding: 5px;">Tenant
<td style="padding: 5px;">$300
<tr>
<td style="padding: 5px;">Move-In Fee
<td style="padding: 5px;">Gramatan Management
<td style="padding: 5px;">Tenant
<td style="padding: 5px;">$350
<tr>
<td style="padding: 5px;">Move-Out Fee
<td style="padding: 5px;">Gramatan Management
<td style="padding: 5px;">Tenant
<td style="padding: 5px;">$350
<tr>
<td style="padding: 5px;">Lease Renewal Fee
<td style="padding: 5px;">Gramatan Management
<td style="padding: 5px;">Landlord
<td style="padding: 5px;">$100
</table>
</small>
</p>  
  