<h4>
<i>unit</i>
</h4>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" src="images/3j/regency-building.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/AndAnotherCloset.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/AndYetAnotherCloset.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/AnotherCloset.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/BathRoomTub+Shower+Toilet.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/BathRoomVanity.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/BedRoom-LookingIn.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/BedRoom-LookingOut.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/BuildingFront.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/BuildingLobby.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/DiningRoom.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Hallway.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/IndoorParking.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Kitchen.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Laundry.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/LivingRoom.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/regency-gym.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/regency-laundry.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/regency-pooltable.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/regency-rooftopdeck.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/RoofDeck.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Sauna.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/SecuritySystem.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Sidewalk.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Stepper+Treadmill+Bike.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/Street.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/UniversalGym.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/WindowsGalore.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/3j/3J-FloorPlan.jpg">
    </div>
  </div>
  {% include common/carousel_ctrl.html %}
</div>
