<h4>
<i>description</i>
</h4>

<p>Beautiful location.  Very nice large 1 bedroom unit.</p>
<p>This is an end unit known as <I>Franklin</I> model (on concrete foundation, 
not over car ports). It is all one level. There are a few steps down on 
the path to reach it. The unit has electric heat with a separate control 
for each room. The unit has central AC.</p>

<ul>
<li>955 sq. ft.</li>
<li>1 bedroom</li>
  <ul>
  <li>large closet with sliding mirror doors</li> 
  <li>window seat with storage area </li>
  </ul>
<li>1 bath</li>
  <ul>
  <li>bath/shower, toilet behind closed door</li> 
  <li>sink area</li>
  <li>washer/dryer behind another closed door</li>
  <li>storage closet</li>
  </ul>
<li>entry hall with closet</li>
<li>kitchen</li>
  <ul>
  <li>dishwasher</li>
  <li>refrigerator</li>
  <li>stove/oven</li> 
  <li>sink with disposal</li> 
  <li>pantry </li>
  </ul>
<li>dining room</li>
<li>living room</li>
  <ul>
  <li>fireplace</li>
  <li>sliding glass+screen doors to patio</li>
  <li>window seat with storage area</li>
  </ul>
<li>carport</li>
  <ul>
  <li>room for one car</li>
  <li>large, unheated storage closet</li>
  <li>additional open parking spaces</li>
  </ul>
</ul>