<h4>
<i>documents</i>
</h4>
<ul>
 <li>Rental Application: 
   <a href="docs/common/Application.pdf" target="_documents">form</a>
 </li>
 <li>Fixed Term Residential Lease:
   <a href="docs/common/Lease.pdf" target="_documents">form</a>
 </li>
 <li>Addendum (Condo #7 - one year minimum): 
   <a href="docs/242b/Addendum.pdf" target="_documents">form</a>
 </li>
 <li>Annual Rental Fee (Condo 7): 
   <a href="docs/242b/AnnualCondo7RentalFee.pdf" target="_documents">notice</a>
 </li>
 <li>Rules and Regulations (Condo #7 - Owner Guide): 
   <a href="docs/242b/OwnerGuide2010.web.pdf" target="_documents">handbook</a>
 </li>
 <li>Unit Information Registration Form: 
   <a href="docs/242b/UnitInformation.pdf" target="_documents">form</a>
 </li>
 <li>Heritage Hills Society Information: 
   <a href="docs/242b/HHSocietyInfo.pdf" target="_documents">info</a>
 </li>
  <li>Heritage Hills Society Website: 
   <a href="http://heritage-hills-at-somers.com/" target="_documents">link</a>
 </li>
 <li>Contact Info: 
   <a href="docs/common/ContactInfo.pdf" target="_documents">info</a>
 </li>
</ul>