<h4>
<i>unit</i>
</h4>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" src="images/242b/0000-back.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0100-floor-plan.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0200-entrance.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0300-kitchen.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0400-kitchen.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0500-diningroom.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0600-livingroom.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0700-fireplace.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0800-intodiningroom.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/0900-hallway.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1000-bath-outter.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1100-bath-inner.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1200-tub+shower.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1300-bathroom-closet.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1400-washer-dryer.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1500-utilitycloset.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1600-bedroom.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1700-ac-control.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1800-diningroomlight.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/1900-dishwasher.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2000-sgd.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2100-electric-heat.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2200-bathroomsink.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2300-ac-unit.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2400-front.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2500-landscaping.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2600-patio.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2700-path.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2800-back.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/2900-mailboxes.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/3000-carport.JPG">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/9000-activities-center.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="images/242b/9100-tennis.jpg">
    </div>
  </div>
  {% include common/carousel_ctrl.html %}
</div>
